# Ainda não estaremos utilizando arquivos de ambiente, mas já fica aqui um exemplo
# Para utilizar o arquivo de ambiente, renomeie este arquivo de .env_example para .env
APP_NAME=gsw_project
PG_PORT=5500
SETTINGS_FILE=local_dev
