{% extends "base.html" %}

{% load static %}

{% block css %}
  {{ form.media.css }}
  {% block form_extra_css %}
  {% endblock form_extra_css %}
{% endblock css %}
{% comment %}
{% block page_header %}
  <h3 class="title">
    {{ pagename|capfirst }}
  </h3>
{% endblock page_header %}
{% block page_header_collapsed %}
  {{ pagename|capfirst }}
{% endblock page_header_collapsed %}
{% endcomment %}


{% block sub_page_name %}
  <h3 class="title">
  {% if form.instance.pk %}
    {{ form.instance }}
    ({{ sub_pagename|default:model_verbose_name|capfirst }})
  {% else %}
    {{ sub_pagename|default:model_verbose_name|capfirst }}
  {% endif %}
  </h3>
{% endblock sub_page_name %}


{% block content %}
  <article>
    <section>
      <div class="row">
        <div class="col col-md-12">
          <form id="{% block form_id %}id-form{% endblock form_id %}" enctype="multipart/form-data" method="POST" novalidate>
            {% csrf_token %}
            <div class="card card-primary">
              {% block card_header %}
              <div class="card-header bg-ligth">
                
                    <div class="font-italic text-success">* Campos Obrigatórios</div>
                
                {% block extra_card_head %}
                {% endblock extra_card_head %}     
              </div>
              {% endblock card_header %}
                <div class="card-body">
                  
                  {% block form_content %}{% endblock form_content %}
                </div>
                <div class="card-footer">
                  {% block list_url_block %}
                    {% if detail_url %}
                      <a class="btn btn-outline-primary" href="{% url detail_url object.pk %}">
                        <i class="fa fa-arrow-circle-o-left"></i> Voltar
                      </a>
                    {% elif list_url %}
                      <a class="btn btn-outline-primary" href="{% url list_url %}">
                        <i class="fa fa-arrow-circle-o-left"></i> Voltar
                      </a>
                    {% endif %}
                  {% endblock list_url_block %}
                  <div class="float-right d-inline-block">
                    <button class="btn btn-outline-primary" type="reset">
                      <i class="fa fa-ban"></i> Limpar
                    </button>
                    {% block extra_save_btn %}
                    {% endblock extra_save_btn %}
                    {% block save_btn %}
                      <button class="btn btn-primary" type="submit">
                        <i class="fa fa-plus-square"></i> {{ save_btn_label|default:'Candidatar-se' }}
                      </button>
                    {% endblock save_btn %}
                  </div>
                </div>
            </div>
          </form>
        </div>
      </div>
      {% block extra_cards %}{% endblock extra_cards %}
    </section>
  </article>
{% endblock content %}

{% block modals %}
  {{ block.super }}
{% endblock modals %}

{% block extra_js %}{% endblock extra_js %}

{% block javascript %}
  {{ form.media.js }}
  {% block form_extra_js %}{% endblock form_extra_js %}
{% endblock javascript %}
